*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;

}

:root {
    --nav: #A3DDCB;
    --middle: #0A043C;
    --right:#A3DDCB;
    --accent:#FFE3DE;
}

body{
    max-width: 100%;
}


@media (min-width:900px) {

.page-warpper{
    display: flex;
} 

main{
    width: 100%;
}

.first-page-wrapper{
    display: flex;
    
}

nav{
    width:70px;
    position: fixed;
    height: 100vh;
    left:0;
    background-color: var(--nav);
    transition: 1s ease-in-out;
    overflow: hidden;
    border-right: 1px solid;
}

.active{
    width:160px;
    background-color: #73c5ab;
    transition: 1s ease-in-out;
}

.icons-wrapper{
    padding: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:100px auto 0;
    gap: 50px;

}

.nav-item{
    display: flex;
    width:100%;
    align-items: center;
    transition: 0.25s ease-in-out;
    
}

.nav-item a{
    text-decoration: none;
}

.nav-item:hover{
    border-radius: 15px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-left: 5px;
    padding-right: 5px;
    transition: 0.25s ease-in-out;
}

.nav-item-text{

color: black;
text-align: start;
padding-left: 10px;
display: none;
}

.nav-item:hover{
    cursor: pointer;
   
}

.wrapper-headding-first{
    background-color: var(--middle);
    width:60%;
    padding-bottom: 200px;
}

.wrapper-headding-first-text{
    width: 80%;
    margin: 15% 10px 0 160px;
    animation: mainHeading 1s ease-in-out ;
}

.wrapper-headding-first-text-h{
    font-size: 5vw;
    text-align: left;
    line-height: 1;
    color: var(--middle);
    -webkit-text-stroke-color: var(--accent);
    -webkit-text-stroke-width: 1.0px;
    
}

.wrapper-headding-first-text span{
    color:var(--accent);
}

.wrapper-headding-first-text-p{
    padding-top: 15%;
    font-size: 2.3vw;
    text-align: left;
    color: var(--accent);
}

@keyframes mainHeading {
   from{
        transform:translateY(10%);
   }
    
}

.wrapper-heading-second{
    
    width: 40%;
    background-color:var(--right);
    padding-bottom: 200px;
}

.ava{
    display: block;
    justify-content: center;
    width:60%;
    margin: 17% auto;
   position: relative;
}

.about-wrapper{
    display: flex;
    background-color: var(--right);
    height: 1000px;
}

.about-first{
    width: 60%;
    background-color: var(--middle);
}

.about-second{
    width: 40%;
    background-color: var(--right);
}

.about-first-text{
    width: 60%;
    margin: 0px 10px 0 160px;
    animation: 1s;
    
}

.about-first-text h2{
    margin-bottom: 30px;
    font-size: 5vw;
    color: var(--accent);
    
}

@keyframes mainHeading2 {
    from{
         transform:translateY(20%);
    }
     
 }

.about-first-text p{
    
    padding-top: 10%;
    font-size: 1.5vw;
    line-height: 1.8;
    text-align: left;
    color: var(--accent);
}



}
